@tailwind base;
@tailwind components;
@tailwind utilities;

.progress {
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;
}

.progress__inner {
     height: 100%;
     border-radius: 30px;
     width: 80%;
     background: rgb(18, 231, 48);
     transition: all 0.3s ease-in-out;
     background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
 }

li {
    list-style-type: none; /* Убираем маркеры */
}

.search {
    position: relative;
}
.search input {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
}

.search svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 17px;
    left: 20px;
    opacity: 0.3;
}

.currency-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.currency-block input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
}


.currency-currencies {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.currency-block li {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;
}

.currency-block li:hover {
     background-color: rgba(0, 0, 0, 0.03);
 }

.currency-block li:active {
     background-color: rgba(0, 0, 0, 0.05);
 }

.currency-block svg {
    width: 16px;
    height: 16px;
}
.currency-block li.active {
     background-color: #16b67f;
     color: #fff;
 }